@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

#index{
    background-color: #EAE7DC;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 30px;
}

.navbar-brand{
    margin-left: 10px;
    font-family: 'Anton', sans-serif;
}


aside{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

p{
    display: inline;
}

.time{
    text-align: center;
    display: inline-block;    
    width: fit-content;
    height: fit-content;
    padding: 2px;
    color: #ffffff;
    background-color: #17252A;
}

.d-flex{
    margin: 27vh 0;
}

.container{
    width: fit-content;
}

#next_class,#current_class{
    font-weight: 200;
    color: #E85A4F;
}

h2{
    font-size: 1.2rem;
    font-weight: 700;
    color: #17252A;
}

span{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    color: #E98074;
}

.btn{
    background-color: #3AAFA9;
    color: #17252A;
    border-color: #3AAFA9;
}

@media screen and (max-width:770px){
    .nav-item{
        text-align: center;
    }
}